* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: #b5f3f2;
  border-radius: 10px;
  height: 250px;
  width: 500px;
  padding: 25px;
  display: flex;
}
.content {
  padding: 0 30px;
}
.main-heading,
.main-content {
  padding: 10px;
}
.main-content p {
  line-height: 2;
}
.img-img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.social {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
.social p {
  padding-right: 10px;
}
.social-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
button {
  padding: 5px 10px;
  border-radius: 10px;
  background: #5d90bf;
  color: white;
}
