.contact {
  margin: 5rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.contact-card {
  box-shadow: 2px 2px 10px #888888;
  border-radius: 1rem;
  padding: 1rem;
  width: 330px;
}
.contact-card img {
  height: 14rem;
  width: auto;
}
