@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f9f9f9;
  min-height: 100vh;
  /* overflow: hidden; */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo {
  font-size: 2rem;
  color: #359381;
  pointer-events: none;
  margin-right: 270px;
}
.navigation a {
  text-decoration: none;
  padding: 0 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: #359381;
}
.navigation a:hover {
  color: #297164;
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#text {
  position: absolute;
  font-size: 5rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sec {
  position: relative;
  background-color: #003329;
  color: white;
  padding: 20px 40px;
  font-size: 15px;
  line-height: 1.6rem;
  letter-spacing: 1px;
  padding-top: 5rem;
  text-align: justify;
}
.sec h2 {
  padding: 20px 0;
}
